{% comment %}
	Render complex nesting child-grandchild dropdown navmenu UI for desktop.

	Accepts:
	- link: {Objext} Link Object

	Usage:
	{% render 'desktop-menu-dropdown-nav', link: link %}
{% endcomment %}

<ul class='dropdown-child absolute left-1/2 top-10 hidden min-w-[200px] -translate-x-1/2 transform border bg-white hover:block'>
	{% for child_link in link.links %}
		<li class='child_nav_item relative flex justify-between px-3 py-2 hover:bg-gray-100'>
			<a class='block' href='{{ child_link.url }}'>{{ child_link.title }}</a>
			{% if child_link.links.size > 0 %}
				{% render 'icon-chevron-right', class: 'w-5' %}
			{% endif %}

			<!-- dropdown grandchild -->
			{% if child_link.links.size > 0 %}
				<ul class='dropdown-grandchild absolute left-full top-0 hidden min-w-[200px] border bg-white'>
					{% for grandchild_link in child_link.links %}
						<li class='child_nav_item relative block px-3 py-2 hover:bg-gray-100'>
							<a href='{{ grandchild_link.url }}'>{{ grandchild_link.title }}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>
