{% comment %}
	Show a sidebar menu from left to right.

	Usage:
	{% render 'mobile-menu' %}
	This menu should trigger upon a dispatch event called 'toggle-menu'. So, need to use this code on the button which will trigger this snippet.
	@click="$dispatch('toggle-menu')"
{% endcomment %}

<div
	x-data='{ showMenu: false }'
	x-show='showMenu'
	@toggle-menu.window='showMenu = !showMenu'
	class='absolute min-h-screen w-full antialiased'
>
	<nav
		class='absolute inset-0 z-10 h-screen w-full transform bg-gray-100 p-4 text-black transition duration-300'
		x-show='showMenu'
		x-transition:enter='transform transition ease-in-out duration-500 sm:duration-700'
		x-transition:enter-start='-translate-x-full opacity-0'
		x-transition:enter-end='translate-x-0 opacity-100'
		x-transition:leave='transform transition ease-in-out duration-500 sm:duration-700'
		x-transition:leave-start='translate-x-0'
		x-transition:leave-end='-translate-x-full opacity-0'
	>
		<ul class='mt-4 flex flex-col space-y-2'>
			{% for link in section.settings.menu.links %}
				<li class='flex cursor-pointer justify-between rounded p-2 text-lg transition duration-200 hover:bg-gray-200'>
					<!-- menu child -->
					{% if link.links.size > 0 %}
						{% render 'mobile-menu-nesting-nav', link: link %}
					{% else %}
						<a href='{{ link.url }}'>{{ link.title | escape }}</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</nav>
</div>
